{
  "presets": ["es2015", "react", "stage-0"],
    "plugins": [
      "transform-decorators-legacy",
      "jsx-control-statements",
      "./plugin.simple"
    ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
